/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #2c2c2c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

.nav {
    margin-bottom: 20px;
}

.nav button {
    background-color: #3e322d;
    color: #f3e1be;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 30px; /* Ajuste de bordas arredondadas */
    margin-bottom: 10px; /* Espaço entre os botões */
    width: 150px; /* Largura fixa para os botões */
}

.nav button:hover {
    background-color: #2c2c2c;
}

.form-container {
    background-color: #a5957c;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 350px;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #3e322d;
}

.input-container {
    position: relative;
    margin-bottom: 20px;
    text-align: left;
}

.input-container input[type="text"],
.input-container input[type="email"],
.input-container input[type="password"] {
    width: calc(100% - 40px); /* Para garantir que o input fique centralizado */
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    background-color: #f3e1be;
    font-size: 16px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
}

.input-container label {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #3e322d;
    font-size: 14px;
    pointer-events: none;
    transition: 0.2s ease all;
}

.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label {
    top: -10px;
    left: 20px;
    font-size: 12px;
    color: #3e322d;
}

.remember-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 20px; /* Adicionar espaço à esquerda */
}

.remember-container input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 30px;
    background-color: #3e322d;
    color: #f3e1be;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
}

button:hover {
    background-color: #2c2c2c;
}
