.admin-container {
  font-family: 'Arial', sans-serif;
  background-color: #2e2b27; /* Cor de fundo */
  color: #fff;
  min-height: 100vh;
}

.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
}

.admin-nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.admin-nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.admin-nav ul li a:hover {
  color: #e2c893;
}

.admin-content {
  padding: 40px 20px;
  text-align: center;
}

.admin-content h1 {
  margin-bottom: 40px;
  font-size: 36px;
  color: #e2c893;
}

.admin-sections {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.admin-section {
  background-color: #6b5e50;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 250px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.admin-section:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.admin-section h2 {
  color: #e2c893;
  margin-bottom: 10px;
  font-size: 24px;
}

.admin-section p {
  color: #ddd;
  margin-bottom: 20px;
}

.btn {
  background-color: #e2c893;
  color: #333;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #d1b075;
}
