/* AdminAgendamentos.css */
.admin-agendamentos {
  padding: 20px;
  background-color: #343028; /* Cor de fundo */
  color: #f4f4f4; /* Cor do texto */
}

.admin-agendamentos h1 {
  color: #e0c385; /* Cor do título */
}

.table th {
  background-color: #6b5e50; /* Cor do cabeçalho da tabela */
  color: #e2c893; /* Cor do texto do cabeçalho */
}

.table td {
  background-color: #3e3830; /* Cor das células */
  color: #e2c893; /* Cor do texto das células */
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #4f4a3d; /* Cor das linhas pares */
}

.table-hover tbody tr:hover {
  background-color: #57524b; /* Cor das linhas ao passar o mouse */
}
