.agendamento-container {
    background-color: #343028;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    margin: 0 auto;
    color: #fff;
  }
  
  .agendamento-container h2 {
    text-align: center;
    color: #d4af65;
  }
  
  .agendamento-container form {
    display: flex;
    flex-direction: column;
  }
  
  .agendamento-container label {
    margin-top: 10px;
    color: #d4af65;
  }
  
  .agendamento-container select,
  .agendamento-container input[type="submit"],
  .react-datetime-picker {
    margin-top: 5px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #5c5242; /* Background color to match the site palette */
    color: #fff;
  }
  
  .agendamento-container input[type="submit"] {
    background-color: #d4af65;
    color: #343028;
    cursor: pointer;
    margin-top: 20px;
  }
  
  /* Additional styles for DateTimePicker */
  .react-datetime-picker__wrapper {
    background-color: #5c5242;
    color: #fff;
    border-radius: 4px;
  }
  
  .react-datetime-picker__inputGroup__input {
    background-color: #5c5242;
    color: #fff;
    border: none;
  }
  
  .react-datetime-picker__clear-button,
  .react-datetime-picker__calendar-button {
    color: #fff;
  }
  