.agendamento-container {
    background-color: #3d3630;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #e2c893;
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
}

.agendamento-container h2 {
    text-align: center;
    color: #e2c893;
    margin-bottom: 20px;
}

.agendamento-container label {
    display: block;
    margin-top: 15px;
    color: #e2c893;
    text-align: left;
}

.agendamento-container input,
.agendamento-container select,
.react-datepicker-wrapper,
.react-time-picker {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #6b5e50;
    border-radius: 4px;
    background-color: #FFEBC4;
    color: #333;
}

.agendamento-container input[type="submit"] {
    background-color: #e2c893;
    color: #333;
    cursor: pointer;
    margin-top: 20px;
    border: none;
}

.agendamento-container input[type="submit"]:hover {
    background-color: #d1b67d;
}

.agendamento-container .react-datepicker-wrapper input,
.agendamento-container .react-time-picker input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #6b5e50;
    border-radius: 4px;
    background-color: #FFEBC4;
    color: #333;
}

.react-time-picker__wrapper {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    border: 1px solid #6b5e50;
    border-radius: 4px;
    padding: 10px;
}

.react-time-picker__inputGroup {
    display: flex;
    align-items: center;
}

.react-time-picker__inputGroup__input {
    width: 40px;
    height: 30px;
    text-align: center;
    border: none;
    background-color: #f5f5f5;
    color: #333;
}

.react-time-picker__inputGroup__divider {
    color: #333;
}
