.cadastro-container {
  background-color: #4e453e;
}

.cadastro-logo img {
  width: 150px;
}

.cadastro-form {
  background-color: #b0a18c !important;
}

.form-check-input {
  border-radius: 50%;
}

.btn-primary {
  background-color: #e2c893;
  border: none;
  color: #333;
}

.btn-primary:hover {
  background-color: #d1b67d;
}

.signin-link a {
  color: #000;
}

.signin-link a:hover {
  text-decoration: underline;
}
