/* Usuarios.css */
.usuarios-container {
  padding: 20px;
  background-color: #343028; /* Fundo da página */
  color: #f4f4f4; /* Cor do texto */
}

.usuarios-container h1 {
  text-align: center;
  color: #e0c385; /* Cor do título */
  margin-bottom: 20px;
}

.usuarios-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
}

.usuarios-table th, .usuarios-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

.usuarios-table th {
  background-color: #6b5e50; /* Cor do cabeçalho da tabela */
  color: #e2c893; /* Cor do texto do cabeçalho */
}

.usuarios-table tr:nth-child(even) {
  background-color: #4f4a3d; /* Cor das linhas pares */
}

.usuarios-table tr:hover {
  background-color: #57524b; /* Cor das linhas ao passar o mouse */
}

.usuarios-table td {
  background-color: #3e3830; /* Cor das células */
  color: #e2c893; /* Cor do texto das células */
}
